.AddFoodBox{
  width: 50%;
  margin: 30px auto;
  border: 2px solid cyan;
  padding: 11px;
}
.AddFoodBox h4{
  background-color: green;
  color: white;
  padding: 6px;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid blue; 
}
.ng-invalid:not(form)  {
  border-left: 5px solid yellow; 
}